
:root {
    --font-family: 'crimson text', sans-serif;
    --bg-color: #42463F;
    --burnt-orange-color: #BF6336;
    --green-color: #36BF63;
    --off-white-color: #EDF1F2;
}

.body {
  background-color: var(--bg-color);
}

.header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70px;
        background-color: var(--bg-color);
        border-bottom: 5px solid var(--burnt-orange-color);
}
  
.logo {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  height: 60px;
  padding: 10px;
}

.logo-text {
  display:flex;
  justify-content: flex-start;
  margin-right: auto;
  height: 70px;
  padding: 10px;
  color: var(--green-color);
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  font-family: var(--font-family);
  color: var(--off-white-color);
  padding: 25px;
  margin: auto;
  text-decoration: none;
}

.hero-image {
  background-image: url("/assets/hero.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  border-bottom: 5px solid var(--green-color);
}

.hero-header {
  font-family: 'Josefin sans', sans-serif;
  color: var(--off-white-color);
  font-size: 30px;
  text-align: center;
  margin: auto;
  padding-top: 120px;
  font-size: 60px;
}

.hero-tagline {
  font-family: 'Josefin sans', sans-serif;
  color: var(--off-white-color);
  font-size: 30px;
  text-align: center;
  margin: auto;
}

.card {
  display: flex;
  justify-content: space-around;
  background-color: var(--off-white-color);
  border-radius: 5px;
  border-width: 1px;
  color: var(--bg-color)
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}